<body>
<div class="container-personalizado">
    <form action="" class="form-login">
        <div class="linha">
        <label for="">Login</label>
        <input type="text" id="email" placeholder="Seu e-mail" name="email" [(ngModel)]="UserModel.email">
        <label for="">Senha</label>)
        <input type="password" id="password" placeholder="Digite sua senha" name="password" [(ngModel)]="UserModel.password">
        </div>

    <div class="linha btn-actions">
        <button type="submit" id="signin" class="btn btn-danger" (click)="receberDados()">Entrar</button>
        <button type="button" class="btn btn-link">Registra-se</button>
    </div>
  
    </form>
</div>
</body>
