<header>
    <div class="container-gid header-flex">

    <img class="logo" src="./assets/gamemania.jpg" width="250px" height="80px">

    <nav class="menu mostrarmenu" id="navMenu">

    <a class="menu-item" href="#">Playstation</a>
    <a class="menu-item" href="#">Xbox</a>
    <a class="menu-item" routerLink="#">Nitendo</a>
    <a class="menu-item" routerLink="/login">Login</a>

    
    

    <img onclick="mostrarmenu()" class="menu-ham" src="./assets/menu.ham.png">
  </nav>
</div>

  </header>
